{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}

{{ section.content | safe }}

{% for page in section.pages %}
  {% if page.extra.weight >= 20 %}
  {% set weight = "w20" %}
  {% elif page.extra.weight >= 10 %}
  {% set weight = "w10" %}
  {% else %}
  {% set weight = "w0" %}
  {% endif %}

  <a class="blog-item {{ weight }}" href="{{ page.permalink | safe }}">
    <time class="date" datetime="{{ page.date }}">{{ page.date | date(format="%e %B %Y") }}</time>
    <div class="fluid">
      <span class="title">{{ page.title }}</span>
      <span class="desc">{{ page.description }}</span>
    </div>
  </a>
{% endfor %}


{% endblock content %}
